*, :before, :after {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    height: 100%;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #1a1a1a;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.5em 0;
}

ul, ol {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #B40400;
    transition: color 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #2283C8;
    border-radius: 1px;
}

a:active {
    color: #0F67A8;
    text-decoration: underline;
}

.checkout-experience-container {
    display: flex;
    overflow-x: hidden;
}

html.loading {
    overflow: hidden;
    height:100%;
}

#main, .App {
    height: 100%
}

.hidden {
    display: none !important;
}

.three-page {
    display: flex;
}

.one-page {
    display: flex;
}

.paypal-page {
    display: flex;
}

.stx-button__spinner{
    top: auto;
    left: auto;
    margin-top: auto;
    margin-left: auto;
}

.outside-main-content {
    padding: 40px 60px 0 30px;
    background-color: #ffffff;
}

select {
    -webkit-appearance: none;
    font-size:14px;
}

.footer--button-container .btn-checkout, .thank-you-contact-button-container .btn-checkout{
    background: #B40400;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px #e6e6e6;
    border-radius: 4px;
    color: white;
    text-transform: none;
    margin: 0;
}

.tax-exempt__message .stx-message--with-info {
    border-color: #B40400;
    background: #F2F6FF;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    .checkout-experience-container, .three-page, .paypal-page {
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
    }

    .three-page, .paypal-page {
        max-width: 1440px;
    }

    .outside-main-content-container {
        width: 100%;
    }

    .outside-main-content {
        width: 1200px;
        margin: 0 auto;
    }

    .one-page {
        flex-wrap: wrap;
        max-width: 1440px;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
    }

    .checkout-page .thank-you,
    .one-page .customer-section {
        padding: 40px 72px;
        margin: 0 auto;
        width: auto;
        flex: 1;
    }

    .checkout-page .thank-you + .summary-section,
    .one-page .summary-section {
        padding: 175px 72px 40px 72px;
        width: 40%;
    }

    .no-summary {
        width: auto;
    }

    .website__title {
        display: none;
    }

    .outside-main-content.no-summary {
        margin: 0 auto;
        width: 700px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .checkout-experience-container, .three-page, .paypal-page{
        flex-wrap: wrap;
        position: relative;
        margin: auto;
        width: 100%;
        min-height: 100vh;
    }

    .three-page, .paypal-page {
        width: auto;
    }

    .outside-main-content-container {
        width: 768px;
        margin: 0 auto;
    }

    .one-page {
        flex-wrap: wrap;
        position: relative;
        margin: auto;
        min-height: 100vh;
    }

    .checkout-page .thank-you,
    .one-page .customer-section {
        padding: 40px 48px;
        margin: 0 auto;
        width: auto;
        flex: 1;
    }

    .checkout-page .thank-you + .summary-section,
    .one-page .summary-section {
        padding: 175px 48px 40px 48px;
        width: 40%;
    }

    .no-summary {
        width: auto;
    }

    .block__website-title {
        width: auto;
        margin: 16px 32px 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    .outside-main-content {
        padding: 26px 13px 0 32px;
    }

    .outside-main-content.no-summary {
        margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    .checkout-experience-container, .three-page, .paypal-page {
        position: relative;
        margin: auto;
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
    }

    .one-page {
        position: relative;
        margin: auto;
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
    }

    .checkout-page .thank-you,
    .one-page .customer-section {
        padding: 40px;
        margin: 0 auto;
        width: auto;
    }

    .checkout-page .thank-you + .summary-section,
    .one-page .summary-section {
        padding: 40px;
        width: auto;
        flex-shrink: 0;
    }

    .website__title {
        width: auto;
        margin: 16px 32px 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    .footer--button-container .btn-checkout, .thank-you-contact-button-container .btn-checkout{
        width: 100%;
    }

    .outside-main-content {
        width: 100%;
        padding: 16px 32px;
    }

    .checkout-page .main-header-mobile {
        padding: 40px;
    }
}

button:hover {
    background-color: #2283C8;
    border: 4px solid #E2E2E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button:focus {
    background-color: #B40400;
    border: 4px solid #C0E7FE;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button:active {
    background-color: #0F67A8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button.taxes-amount__arrow:focus,
button.taxes-amount__arrow:hover,
button.taxes-amount__arrow:active {
    background-color: inherit;
    outline: none;
}

.a11y-screen-reader-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#paypalPanel {
    border: 1px solid #949494 !important
}

#eps-iframe-payment-gateway {
    width: 100%;

    > * + * {
        margin-top: 30px;
    }
}

#eps-express-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
}

/* CUSTOM MILLBANK CSS */

/*  - general */

.customer-section form > * + * {
    margin-top: 44px;
}
.customer-section form > *:last-child {
    margin-bottom: 44px;
}

.customer-section form .field-section__heading {
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.77px;
    line-height: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.customer-section .select-field .stx-select {
    border-color: #75757A;
    border-radius: 8px;
}
.customer-section .select-field .stx-select,
.customer-section .input-field .stx-input {
    margin-bottom: 0;
}

.customer-section .field-section__content .select-field__container .select-field {
    margin-bottom: 0;
}

.customer-section .select-field select {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    height: 52px;
    padding-top: 12px;
    padding-bottom: 0;
}
.customer-section .stx-select__select-element {
    font-size: 16px;
    padding: 12px 20px;
}
.customer-section .select-field__label {
    font-family: Montserrat;
    padding-left: 21px
}
.customer-section .select-field__container .select-field__label {
    top: 7px
}

.customer-section .input-field .stx-input {
    border-color: #75757A;
    border-radius: 8px;
}
.customer-section .input-field input {
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    height: 52px;
}
.customer-section .stx-input__input-element {
    font-size: 16px;
    padding: 12px 20px;
}
.customer-section .input-field--has-value input {
    padding-top: 12px;
    padding-bottom: 0;
}
.customer-section .textarea-field textarea::placeholder,
.customer-section .input-field input::placeholder {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    color: #75757A;
}
.customer-section .input-field__label {
    font-family: Montserrat;
    padding-left: 21px
}
.customer-section .input-field--has-value .input-field__label {
    top: 7px
}
.customer-section .textarea-field__label {
    padding-left: 21px
}
.customer-section .textarea-field--has-value .textarea-field__label {
    top: 7px
}
.customer-section .textarea-field .textarea {
    border-color: #75757A;
    border-radius: 8px;
}
.customer-section .textarea-field textarea {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}
.customer-section .stx-radio__input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px black inset;
}
.customer-section .stx-radio__input:checked {
    box-shadow: 0 0 0 2px black inset, 0 0 0 4px white inset, 0 0 0 10px black inset;
}

/* - header */

.customer-section .main-header {
    grid-auto-rows: minmax(60px, auto);
}
.customer-section .main-header__logo.main-header-mobile  {
    padding: 16px 32px;
}
.customer-section .main-header__logo .website-title-logo-clickable {
    padding-top: 0;
}

/* - main */
.customer-section main {
    margin-top: 75px;
}

/* - life elements */
.customer-section .life-elements > * {
    margin-bottom: 0;
}
.customer-section .life-elements > * + * {
    margin-top: 16px;
}
.customer-section .life-element-html-container {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 14px;
    color: #3E3B39;
}

/* - express payment */

.customer-section .express-payment .field-section__heading {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #3E3B39;
    text-transform: none;
    margin-bottom: 12px;
}
.customer-section .express-payment .field-section__content {
    display: block;
}
.customer-section .express-payment .field-section__content .express-payment-container-top {
    padding-top: 0;
}

/*  - customer information */

.customer-section .customer-information .field-section__heading {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #3E3B39;
    text-transform: none;
    margin-bottom: 36px;
}

.customer-section .customer-information .customer-information__authenticated {
    background-color: #eee;
    border: 1px solid #949494;
    border-radius: 8px;
    cursor: not-allowed;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    letter-spacing: 0px;
    line-height: 20px;
    padding: 12px 20px;
    padding-top: 24px;
    padding-bottom: 8px;
    position: relative;
}
.customer-section .customer-information .customer-information__authenticated::before {
    content: 'Email';
    position: relative;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    box-sizing: border-box;
    position: absolute;
    color: #757575;
    z-index: 5;
    font-family: Montserrat;
    padding-left: 1px;
    font-size: 11px;
    top: 7px;
}
.customer-section .customer-information .customer-information__authenticated .customer-information__authenticated-email {
    margin: 0;
}

.customer-section .customer-information + .customer-info-life-elements {
    margin-top: 16px;
}

/* - shipping */

.customer-section .shipping-address > * + * {
    margin-top: 16px;
}
.customer-section .shipping-address + .shipping-life-elements {
    margin-top: 16px;
}
.customer-section .shipping-address .field-section__header {
    flex-direction: column;
}
.customer-section .shipping-address .field-section__header::after {
    content: "* Required";
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
    color: #3E3B39;
    margin-bottom: 16px;
}
.customer-section .shipping-address .field-section__content {
    gap: 16px 8px;
}
.customer-section .shipping-address .field-section__content > * {
    width: auto;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.customer-section .shipping-address .address__saved-select,
.customer-section .shipping-address .address__company,
.customer-section .shipping-address .address__phone {
    width: 100%;
}
.customer-section .shipping-address .address__country {
    flex: none;
    flex-grow: 1;
}

/* shipping lines */

.customer-section .shipping-lines,
.customer-section .shipping-lines .shipping_line__items-amount p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.customer-section .shipping-lines + .shipping-lines-life-elements {
    margin-top: 16px;
}
.customer-section .shipping-lines .shipping-line__block {
    border: none;
}
.customer-section .shipping-lines .shipping-line__no-valid-address {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #75757A;
    border-radius: 8px;
    min-height: 52px;
}
.customer-section .shipping-lines .shipping-line__no-valid-address .shipping-line__no-valid-address-label {
    padding-left: 20px;
    padding-right: 20px;
}
.customer-section .shipping-lines .shipping_line__items {
    border-left: 1px solid #75757A;
    border-right: 1px solid #75757A;
    border-bottom: none;
    height: 52px;
    padding: 0 21px;
    position: relative;
}
.customer-section .shipping-lines .shipping_line__items + .shipping_line__items::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #75757A;
}
.customer-section .shipping-lines .shipping_line__items:first-child {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #75757A;
}
.customer-section .shipping-lines .shipping_line__items:last-child {
    border-radius:  0 0 8px 8px;
    border-bottom: 1px solid #75757A;
}
.customer-section .shipping-lines .shipping_line__items:has(input:checked) {
    border-left: 2px solid #3E3B39;
    border-right: 2px solid #3E3B39;
    padding: 0 20px;
}
.customer-section .shipping-lines .shipping_line__items:has(input:checked):first-child {
    border-top: 2px solid #3E3B39;
}
.customer-section .shipping-lines .shipping_line__items:has(input:checked):last-child  {
    border-bottom: 2px solid #3E3B39;
}
.customer-section .shipping-lines .shipping_line__items.shipping_line__items-border {
    box-shadow: none;
}
.customer-section .shipping-lines .shipping_line__items:has(input:checked):not(:first-child)::before {
    top:-1px;
    left: -1px;
    right: -1px;
    height: 2px;
    background-color: #3E3B39;
}
.customer-section .shipping-lines .shipping_line__items:has(input:checked) + .shipping_line__items::before {
    top:-1px;
    height: 2px;
    background-color: #3E3B39;
}
.customer-section .shipping-lines .shipping_line__items .stx-radio-field * {
    cursor: pointer;
}

/* billing */

.customer-section .billing-address > .address__FieldSection > .field-section__content > * {
    border-left: 1px solid #75757A;
    border-right: 1px solid #75757A;
    border-bottom: none;
    height: 52px;
    padding: 0 21px;
    position: relative;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:first-child {
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #75757A;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:last-child {
    border-radius:  0 0 8px 8px;
    border-bottom: 1px solid #75757A;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > * + *::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #75757A;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked) {
    border-left: 2px solid #3E3B39;
    border-right: 2px solid #3E3B39;
    padding: 0 20px;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked):first-child {
    border-top: 2px solid #3E3B39;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked):last-child {
    border-bottom: 2px solid #3E3B39;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked):not(:first-child)::before {
    top:-1px;
    left: -1px;
    right: -1px;
    height: 2px;
    background-color: #3E3B39;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked) + *::before {
    top:-1px;
    height: 2px;
    background-color: #3E3B39;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked) + .custom-billing {
    border-left: 2px solid #3E3B39;
    border-right: 2px solid #3E3B39;
    border-bottom: 2px solid #3E3B39;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > *:has(input:checked) + .custom-billing::before {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #75757A;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > * > .stx-field {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.customer-section .billing-address .field-section__content > .custom-billing {
    height: auto;
    border-top: none;
    padding: 16px 20px;
}
.customer-section .billing-address .field-section__content > .custom-billing > .address .field-section__content {
    gap: 16px 8px;
}
.customer-section .billing-address .field-section__content > .custom-billing > .address .field-section__content > * {
    width: auto;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.customer-section .billing-address > .address__FieldSection > .field-section__content > * .stx-radio-field * {
    cursor: pointer;
}
.customer-section .billing-address .custom-billing > .address .address__saved-select,
.customer-section .billing-address .custom-billing > .address .address__company,
.customer-section .billing-address .custom-billing > .address .address__phone {
    width: 100% !important;
}
.customer-section .billing-address .custom-billing > .address .address__country {
    flex: none !important;
    flex-grow: 1 !important;
}

/* payment */

.customer-section .payment + .payment {
    margin-top: 0;
}
.customer-section .payment #paypalPanel {
    border: 1px solid #75757A !important;
    border-radius: 8px;
    overflow: hidden;
}
.customer-section .payment #paypalPanel .TogglePanel__Header {
    padding: 0 20px;
    height: 52px;
    align-items: center;
}
.customer-section .payment #paypalPanel .TogglePanel__Header .Field__InnerWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
.customer-section .payment #paypalPanel .TogglePanel__Header .Field__InnerWrapper::after {
    display: inline-block;
    content: 'Paypal';
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.customer-section .payment #paypalPanel .TogglePanel__Content {
    border-top-color: #75757A;
    padding: 16px 20px;
}
.customer-section .payment #paypal-button-container {
    padding-top: 0;
}
.customer-section .payment #smart-ppcp-buttons {
    margin-bottom: 0;
}
.customer-section .payment #eps-iframe-payment-gateway {
    > * + * {
        margin-top: 16px;
    }
}

/* form controls */

.customer-section .form-controls__back-link {
    text-decoration: underline;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #3E3B39;
}

.customer-section .form-controls__back-link {
    text-decoration: underline;
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #3E3B39;
}
.customer-section .form-controls__back-link:hover {
    color: #B40400;
}

/* summary section */

.summary-section .summary {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
    color: #75757A;
}
.summary-section .summary .summary__cart-title h2 {
    margin-bottom: 0;
}
.summary-section .summary > * {
    margin: 0
}
.summary-section .summary > * + * {
    margin-top: 36px;
}
.summary-section .summary .cart-summary__title-content {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #3E3B39;
    text-transform: none;
    margin-bottom: 12px;
}
.summary-section .summary .taxes-amount__container {
    align-items: center;
    margin: 0;
}
.summary-section .summary .taxes-amount__container + .taxes-amount__container {
    margin-top: 20px;
}
.summary-section .summary .taxes-amount__container.taxes-amount__container--flex-row {
    flex-direction: row;
}
.summary-section .summary .taxes-amount__label {
    align-items: center;
    text-transform: uppercase;
    color: #75757A;
    padding-left: 0;
}
.summary-section .summary .taxes-amount--border-bottom {
    border-bottom: 1px solid #A4A6A8;
    padding-bottom: 20px;
}
.summary-section .summary .taxes-amount__label.taxes-amount__label--full-width {
    width: auto;
}
.summary-section .summary .taxes-amount__price {
    width: auto;
}
.summary-section .summary .taxes-amount__price .stx-price__amount {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #3E3B39;
    margin: 0;
}
.summary-section .summary .taxes-amount__subtotal .taxes-amount__price .stx-price__amount {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #3E3B39;
}
.summary-section .summary .taxes-amount__total .taxes-amount__label,
.summary-section .summary .taxes-amount__amount-due .taxes-amount__label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.summary-section .summary .taxes-amount__total .taxes-amount__price .stx-price__amount {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    color: #3E3B39;
}

/* - cart items */
.summary-section .cart-items {
    border-bottom: none;
}
.summary-section .cart-items > * {
    margin: 0;
    padding: 0;
}
.summary-section .cart-items > * + * {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #A4A6A8;
}
.summary-section .cart-items .cart-item {
    flex-direction: column;
    padding-left: 76px;
    gap: 16px;
}
.summary-section .cart-items .cart-item .cart-item__img-container {
    position: absolute;
    left: 0;
    min-width: 0;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 0;
    mix-blend-mode: multiply;
}
.summary-section .cart-items .cart-item .cart-item__img-container .stx-image--holder {
    padding: 0;
}
.summary-section .cart-items .cart-item .cart-item__text {
    margin: 0;
    min-height: 60px;
}
.summary-section .cart-items .cart-item .cart-item__text .cart-item__title {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #3E3B39;
}
.summary-section .cart-items .cart-item .cart-item__text .cart-item__variant-title {
    margin: 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18px;
    color: #75757A;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity {
    display: flex;
    gap: 4px;
    height: auto;
    margin-left: -72px;
    padding: 0;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity > * {
    margin: 0;
    padding: 0;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__quantity {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__quantity::before {
    text-transform: uppercase;
    color: #75757A;
    content: "Quantity";
    flex-grow: 1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__quantity .cart-item__quantity-number {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #3E3B39;
    margin: 0;
    padding: 0;
    text-align: left;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__price {
    margin: 0;
    padding: 0;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__price .stx-price {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    text-align: start;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__price .stx-price::before {
    text-transform: uppercase;
    color: #75757A;
    content: "Price";
    flex-grow: 1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__price .stx-price > * {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #3E3B39;
    margin: 0;
    padding: 0;
}
.summary-section .cart-items .cart-item .cart-item__price-quantity .cart-item__price .stx-price__amount--inactive {
    color: #A4A6A8;
}

/* thank you */
/* .checkout-page .thank-you,
.checkout-page .thank-you + .summary-section {
    padding: 40px 72px;
} */
/* .checkout-page .thank-you + .summary-section {
    padding-top: 175px;
} */
.checkout-page .thank-you .main-header {
    grid-auto-rows: minmax(60px, auto);
}
.checkout-page .thank-you .main-header__logo.main-header-mobile  {
    padding: 16px 32px;
}
.checkout-page .thank-you .main-header__logo .website-title-logo-clickable {
    padding-top: 0;
}
.checkout-page .thank-you main {
    margin-top: 75px;
}
.checkout-page .thank-you main > * {
    margin: 0;
    padding: 0;
}
.checkout-page .thank-you main > * + * {
    margin-top: 44px;
}
.checkout-page .thank-you main > *:last-child {
    margin-bottom: 44px;
}
.thank-you .order-recap__container,
.thank-you .generic-message-section__message-container {
    border: none;
    padding: 0;
    margin: 0;
    gap: 24px 0;
}
.thank-you .order-recap__container > *,
.thank-you .generic-message-section__message-container > * {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
}
.thank-you .order-recap__container .order-recap__title,
.thank-you .generic-message-section__message-container .generic-message-section__message-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0px;
    color: #3E3B39;
    text-transform: none;
}
.thank-you .order-recap__container .recap-display-item__title {
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.77px;
    line-height: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.thank-you .contact-us {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 18px;
}
footer .footer--disclaimer {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 16px;
}
